{% extends 'task/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<h1>This is the home.html page, where the tasks are displayed after authentication, with all the functionality.
    Styling is still needed.</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <a href="{% url 'add_task' %}" class="btn btn-outline-success btn-sm">Create New Task</a>
</div>
<h2>All Active Tasks</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Add row-cols-1 and row-cols-md-3 for single column layout on small screens -->
        {% for task in object_list %}
        {% if user.id == task.author.id %}

        <div class="col">
            <div class="card h-100"> <!-- Add h-100 class to ensure cards have equal height -->
                <img src="{% static 'task/images/tree-growth.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="fs-3 fw-bold" href="{% url 'task-detail' task.pk %}">{{ task.title.capitalize }}</a>
                    <p class="card-text">See all the tasks in this category: - <a href="{% url 'category' task.category|slugify %}">{{ task.category }}</a></p>
                    <p class="card-text">(Published by: "{{ task.author.first_name }} {{ task.author.last_name }}")</p>
                    <p class="card-text">{{ task.snippet|truncatechars:100 }}</p>
                    <p class="card-text">{{ task.date_created }}</p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_task' task.pk %}">Delete</a>
                    <a class="btn btn-outline-success btn-sm" href="{% url 'edit_task' task.pk %}">Edit</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'task-detail' task.pk %}">Open</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}
