{% extends 'task/base.html' %}
{% block title %} Edit task {% endblock %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == task.author.id %}


<h1>Update Your Task</h1><small>created on {{ task.date_created }}</small>

<div class="form-group">
    <form method="POST" class="submit_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <a href="{% url 'task-detail' task.pk %}" class="btn btn-secondary">Back</a>
        <button class="btn btn-secondary">Update Task</button>
        <a class="btn btn-secondary" href="{% url 'delete_task' task.pk %}">Delete Task</a>
    </form>
</div>
{% else %}
<h2>You're about to enter a restricted territory, someone else's tasks...!!!</h2>
{% endif %}
{% else %}

You're not allowed here, and you know it!...

{% endif %}

{% endblock %}