{% extends 'task/base.html' %}
{% block title %} Edit Comment {% endblock %}
{% block content %}


{% if user.is_authenticated %}
{% if user.id == task.author.id %}


<h1>Are you sure that you want to EDIT: {{ comment.name }}?</h1>

<div class="form-group">
    <form method="POST" class="submit_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-success">Save Changes</button>
        <a href="{% url 'task-detail' task.pk %}" class="btn btn-outline-primary">Back</a>
    </form>
</div>
{% else %}
<h2>This is a restricted territory, you are not allowed here!!!</h2>
{% endif %}
{% else %}

You're not allowed here, and you know it!...

{% endif %}

{% endblock %}