{% extends 'task/base.html' %}
{% block title %} Edit task {% endblock %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == task.author.id %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Update "{{ task.title.capitalize }}" </h1>
            <p class="text-center">created on {{ task.date_created }}</p>
            <div class="form-group">
                <form method="POST" class="submit_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <button class="btn btn-outline-success">Save Changes</button>
                    <a href="{% url 'task-detail' task.pk %}" class="btn btn-outline-primary">Back To Task</a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_task' task.pk %}">Delete Task</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<h2>You're about to enter a restricted territory, someone else's tasks...!!!</h2>
{% endif %}
{% else %}

You're not allowed here, and you know it!...

{% endif %}

{% endblock %}