<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is the main.html page</h1>
<h2>All our tasks.</h2>
<ul>
{% for task in object_list %}
    <li>
        <a href="{% url 'task-detail' task.pk %}">{{ task.title }}</a>
        - (Published by: "{{ task.author.first_name }} {{ task.author.last_name }}")
        <br>
        {{ task.short_description }}
        <br>
        {{ task.date_created }}
        <hr>
    </li>
{% endfor %}
</ul>
</body>
</html>