{% extends 'task/base.html' %}
{% load static %}
<head>
    {% block title %} Home Page {% endblock %}
    <link rel="stylesheet" href="{% static 'task/css/custom.css' %}">
</head>

{% block content %}

<div class="container overflow-hidden text-center" style="background: pink">
  Main Container
    <div class="row text-center my-3">
        <div class="col-md-3 border bg-secondary">Col1</div>
        <div class="col-md-3 border bg-warning">Col2</div>
        <div class="col-md-3 border bg-success">Col3</div>
        <div class="col-md-3 border bg-primary">Col4</div>
    </div>
  <div class="mx-auto border" style="width: 200px">AUTO</div>
</div>
<br>

<!--https://picsum.photos/200/100-->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<img src="{% static 'task/assets/bootstrap-icons/0-circle.svg' %}" alt="Bootstrap" width="32" height="32">
<img src="{% static 'task/images/tree-growth.jpg' %}" alt="tree">
{% endblock %}

