{% extends 'task/base.html' %}
{% load static %}
{% block title %} Landing Page {% endblock %}
{% block content %}


<h1 class="landing-text">This is the LANDING PAGE!!!</h1>
<div class="container border" style="clear:both">
  <div class="row border">
    <div class="col-8 border">col-sm-8</div>
    <div class="col-4 border">col-sm-4</div>
  </div>
  <div class="row border">
    <div class="col border">col-sm</div>
    <div class="col border">col-sm</div>
    <div class="col border"><img src="{% static 'task/images/tree-growth.jpg' %}" class="rounded">
</div>
  </div>
</div>
<br>
<div class="container-col-12 border text-center">Container</div>





{% endblock %}

