{% extends 'task/base.html' %}
{% block title %} Task{{ task.pk }} {% endblock %}
{% block content %}


{% if user.is_authenticated %}
{% if user.id == task.author.id %}


<h1>{{ task.title }}</h1>
<small>
    By: {{ task.author.first_name }}
    <br>
    Created on {{ task.date_created }}
</small>
<br>
<hr>
<p>
    {% if task.image_header %}
    <img src="{{ task.image_header.url }}" width="400" height="200"><br><br>
    {% endif %}

    {{ task.short_description|safe }}<br><br>

    {% if task.task_images %}
    <img src="{{ task.task_images.url }}" width="400" height="200">
    {% endif %}
</p>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ task.author.profile.profile_pic.url }}" class="card-img">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ task.author.first_name }}{{ task.author.last_name }}</h5>
        <p class="small text-muted">
            {% if task.author.profile.website_url %}
            <a href="{{ task.author.profile.website_url }}" target="_blank">Website |</a>
            {% endif %}
            {% if task.author.profile.linkedin_url %}
            <a href="{{ task.author.profile.linkedin_url }}" target="blank">Linkedin |</a>
            {% endif %}
            {% if task.author.profile.social_url %}
            <a href="{{ task.author.profile.social_url }}" target="blank">Social</a>
            {% endif %}
        </p>
        <p class="card-text">{{ task.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>

{{ task.author.profile.website_url }}

<br><br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'edit_task' task.pk %}" class="btn btn-secondary">Edit</a>
<a class="btn btn-secondary" href="{% url 'delete_task' task.pk %}">Delete</a>
<br><br><hr><br>

<!-- the following code is for the like button, which isn't used in this app for now.
<form action="{% url 'like_task' task.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="task_id" value="{{ task.id }}" class="btn btn-danger btn-sm">Unlike</button> - {{ total_likes }} Likes
    {% else %}
    <button type="submit" name="task_id" value="{{ task.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    {% endif %}
    {% else %}
    <small> <a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
</form>
-->

{% else %}
<h2>You're trying to access a restricted territory... someone else's tasks!!!</h2>
{% endif %}
{% endif %}

{% endblock %}