{% extends 'task/base.html' %}
{% block title %} Task{{ task.pk }} {% endblock %}
{% block content %}


{% if user.is_authenticated %}
{% if user.id == task.author.id %}


<h1>{{ task.title }}</h1>
<small>
    By: {{ task.author.first_name }}
    <br>
    Created on {{ task.date_created }}
</small>
<br>
<hr>
<p>
    {% if task.image_header %}
    <img src="{{ task.image_header.url }}"><br><br>
    {% endif %}

    {{ task.short_description|safe }}<br><br>

    {% if task.task_images %}
    <img src="{{ task.task_images.url }}">
    {% endif %}
</p>
<br><br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'edit_task' task.pk %}" class="btn btn-secondary">Edit</a>
<a class="btn btn-secondary" href="{% url 'delete_task' task.pk %}">Delete</a>
<br><br><hr><br>

<!-- the following code is for the like button, which isn't used in this app for now.
<form action="{% url 'like_task' task.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="task_id" value="{{ task.id }}" class="btn btn-danger btn-sm">Unlike</button> - {{ total_likes }} Likes
    {% else %}
    <button type="submit" name="task_id" value="{{ task.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    {% endif %}
    {% else %}
    <small> <a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
</form>
-->

{% else %}
<h2>You're trying to access a restricted territory... someone else's tasks!!!</h2>
{% endif %}
{% endif %}

{% endblock %}