{% extends 'task/base.html' %}
{% block title %} Task{{ task.pk }} {% endblock %}
{% block content %}


{% if user.is_authenticated %}

<h1>{{ task.title }}</h1>
<small>
    By: {{ task.author.first_name }}
    <br>
    Created on {{ task.date_created }}
</small>
<br>
<hr>
<p>
    {{ task.short_description }}
</p>
<br><br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'edit_task' task.pk %}" class="btn btn-secondary">Edit</a>
<a class="btn btn-secondary" href="{% url 'delete_task' task.pk %}">Delete</a>

{% endif %}

{% endblock %}