{% extends 'task/base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}


{% if user.is_authenticated %}

<h1>Edit Profile...!!!!!</h1>

<div class="form-group">
    <form method="POST" class="submit_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Confirm</button>
        <a href="{% url 'all-tasks' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

{% else %}

You're not allowed here, and you know it!...

{% endif %}

{% endblock %}