{% extends 'task/base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}


<div class="container-fluid">
    <h1>Edit Settings.</h1>
    <br><br>
    <strong>{{ user.profile.bio }}</strong>
    <br><br>

    <div class="form-group mb-3">
        <form method="POST" class="submit_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Save Changes</button>
            <a href="{% url 'all-tasks' %}" class="btn btn-outline-primary">Back To Tasks</a>
        </form>
    </div>
</div>


{% endblock %}