{% extends 'task/base.html' %}
{% load static %}
{% block title %} Profile Page {% endblock %}
{% block content %}

<div class="container-fluid">
    {% if current_user %}
    <h1 class="mt-3">This is your Profile Page</h1>
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                {% if current_user.profile.profile_pic %}
                <img src="{{ current_user.profile.profile_pic.url }}" class="card-img">
                {% else %}
                <img src="{% static 'task/images/default_profile_image.png' %}" class="card-img">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ current_user.first_name }} {{ current_user.last_name }}</h5>
                    <p class="small text-muted">
                        {% if current_user.profile.website_url %}
                        <a href="{{ current_user.profile.website_url }}" target="_blank">Website</a>
                        {% endif %}
                        {% if current_user.profile.linkedin_url %}
                        | <a href="{{ current_user.profile.linkedin_url }}" target="blank">Linkedin</a>
                        {% endif %}
                        {% if current_user.profile.social_url %}
                        | <a href="{{ current_user.profile.social_url }}" target="blank">Social</a>
                        {% endif %}
                    </p>
                    <p class="card-text">{{ current_user.profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'edit_profile_page' profile.pk %}" class="btn btn-outline-success">Edit Profile</a>
    <a href="{% url 'all-tasks' %}" class="btn btn-outline-primary">Back To Tasks</a>

    {% else %}

    This page is dedicated for logged-in users only!

    {% endif %}
</div>

{% endblock %}
